/* ProfileActions.css */
.profile-actions {
  display: flex;
  justify-content: space-between;
}

.profile-actions ul {
  list-style: none;
  display: flex;
}

.profile-actions li {
  margin-right: 10px;
}

.profile-actions button {
  background-color: #4caf50; /* Green */
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}

.profile-actions button:hover {
  background-color: #3e8e41;
}
