.profile-actions ul {
  list-style: none;
  display: flex;
}

.profile-actions li {
  margin-right: 10px;
}

.profile-actions button {

  text-align: center;
  font-size: 16px;
  cursor: pointer;
}

.profile-actions button:hover {
  background-color: #3e8e41;
}
