@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch&family=Love+Ya+Like+A+Sister&family=Roboto&family=Shadows+Into+Light&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch&family=Love+Ya+Like+A+Sister&family=Roboto&family=Sanchez&family=Shadows+Into+Light&display=swap');

.title {
  font-family: 'Love Ya Like A Sister', cursive;
}

/*.hero{
  display: flex;
  justify-content: center;
}*/

h1 {
  margin: 0;
  color: white;
  text-align: center;
}

h2 {
  text-align: center;
  font-family: 'Sanchez', serif;
  color: white;
  

}

.header-line {
  background-color: #e4a2a4;
  border: 1.5px solid #e7b355;
}

img {

  margin: 0;
  height: 150px;
  width: 150px;
}
